.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#submit, #correct {
    width: 100px;
    margin: 0 auto;
}

.bar {
    height: 30px;
    background: purple;
    width: 0;
    color: white;
}

.flash {
    
}